
@{
    ViewData["Title"] = "Details";
}

<h1>Personal Details</h1>
<p>
    Name:@ViewBag.Name
</p>
<p>
    Contact:@ViewBag.Contact
</p>
<p>
    Gender:@ViewBag.Gender
</p>
<p>
    <ul>
        @foreach (var item in ViewBag.Hobbies)
        {

            @if (item != "false")
            {
            <li>
                @item
            </li>
            }
        }
        </ul>
</p>
<p>
    Your Option:@ViewBag.Option
</p>

