
@{
    ViewData["Title"] = "aboutus";
}

<h1>aboutus</h1>

        Enter First Name: <input type="text" name="fname" /><br><br>
        Enter Lasr Name:<input type="text"name="lname"/><br><br>
        Enter Password:<input type="password" name="pass"><br><br>
        <input typt="submit" value="submit"/>
